* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------root--------------*/

:root {
  --body-color: rgb(0, 0, 0);
  --color-icon: rgb(250, 250, 250);
  --gray-color: silver;
  --white-color: white;
}

/*------------body--------------*/

body {
  background-color: var(--body-color);
}

/*-----------navbar------------*/
.navbar {
  min-width: 20%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 2px solid RGB(38, 38, 38);
  padding-left: 1rem;
  padding: 2rem;
  z-index: 5;
}

.navbar h3 {
  font-family: "Almarai", sans-serif;
  font-family: "Changa", sans-serif;
  font-family: "Lobster", cursive;
  color: var(--color-icon);
}

.navbar .icons {
  column-gap: 10px;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10rem;
}

.navbar button {
  background-color: transparent;
  border: none;
}

.navbar .icons:hover {
  background-color: #6e6a6abb;
}

.navbar img {
  margin-left: 1rem;
}

.navbar .icons:hover img {
  transform: scale(1.1);
}

.navbar .icons img {
  transition: 0.2s;
  width: 1.7rem;
}

.navbar .icons h6 {
  display: inline;
  color: var(--color-icon);
  text-align: end;
  font-family: sans-serif;
}

#profile {
  border-radius: 50%;
}

#more {
  margin-top: auto;
}

/*-------container----------*/

.container {
  position: relative;
  width: 80%;
  height: 100vh;
  margin-left: 20%; /*problem*/
}

/* ----------part-1------------ */

.part-1 {
  width: 60%;
  padding-left: 8rem;
}

/*-----------stories-----------*/

.container .stories {
  position: relative;
  height: auto;
  column-gap: 2rem;
  margin-top: 2rem;
}

.container .stories .pages button {
  border: none;
  background: none;
  border-radius: 50%;
  position: relative;
  margin-bottom: 0.5rem;
}

.container .stories .pages button::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: -2px;
  background: linear-gradient(
    RGB(211, 0, 197),
    RGB(239, 0, 137),
    RGB(255, 199, 0)
  );
}

.container .stories .pages img {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid black;
  position: relative;
}

.container .stories .pages h6 {
  color: var(--white-color);
}

/* ----------postes---------- */

.container .postes .post {
  position: relative;
  margin-top: 2rem;
}

.container .postes .post .carousel {
  width: 30rem !important;
}

.container .postes .post img {
  width: 30rem;
}

/* -------------owner------------ */

.container .postes .post .owner {
  margin-right: auto;
  color: var(--white-color);
}

.container .postes .post .caption {
  width: 30rem !important;
}

.container .postes .features svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
  color: var(--white-color);
  margin-top: 1rem;
  cursor: pointer;
}

.container .postes p {
  color: var(--white-color);
}

/* -------------part-2----------- */
.part-2 {
  min-width: 40%;
  height: auto;
  padding-top: 3rem;
  position: relative;
}

/*-------------owen-page----------*/

.owen-pages {
  width: 100%;
  position: relative;
}
.part-2 .owen-pages img {
  width: 3.5rem;
  border-radius: 50%;
  position: relative;
  margin-bottom: 1rem;
}

.part-2 .owen-pages .label {
  color: var(--white-color);
  position: absolute;
  margin-left: 10px;
}

.part-2 .owen-pages p {
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  margin-left: 10px;
  color: var(--gray-color);
}

.part-2 .owen-pages a {
  text-decoration: none;
  margin-left: 12rem;
}

/* -------------see all-------------- */

.part-2 .see-all h6 {
  color: var(--gray-color);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#Followers {
  width: 3rem;
}

/* --------------------Finish---------------------- */
